* {
  box-sizing: border-box;
}

.contact {
  padding: 20px;
}

/* Another Method :
// @use 'sass/layout/variables/colors' as * ; -> To use It's Variables .. Just mention the variable ..
.container{
    color: $red-100;
   background-color:$red-50;
}
*/
.header {
  color: darkgreen;
  background-color: green;
}

.footer {
  color: darkblue;
  background-color: black;
}

.container {
  color: darkred;
  background-color: red;
}

@media (max-width: 800px) {
  .header {
    padding: 25px;
  }
}
.parent {
  font-style: oblique;
}
.parent > .child-1 {
  font-size: large;
}
.parent > .child-2 {
  font-size: larger;
}
.parent .child {
  font-weight: 200;
}
.parent .child .grandChild {
  font-weight: 300;
}
.parent .child-2 {
  font-size: small;
}
.parent + p {
  text-align: center;
}
.parent + h3 {
  color: rebeccapurple;
}

.parent > .child {
  font-weight: 400;
}

.parent-2, .parent-3 {
  font-display: initial;
}
[dir=rtl] .parent-2, [dir=rtl] .parent-3 {
  padding: 20px;
}
.parent-2 [data-color=red] .child, .parent-3 [data-color=red] .child {
  color: red;
}
.parent-2 .child, .parent-3 .child {
  font-variant: small-caps;
}
.parent-2 .child > .grandChild, .parent-3 .child > .grandChild {
  font-family: "Courier New", Courier, monospace;
}
.parent-2 ~ h5, .parent-3 ~ h5 {
  color: green;
}

.box .title {
  font-size: large;
}
.box .description {
  font-size: medium;
}
.box.red {
  color: red;
}
.box:hover {
  color: green;
}
:not(.box):not(.title) {
  font-weight: lighter;
}

.box {
  font-size: 20px;
  font-size: 15px;
  font-weight: bold;
  padding: 10px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 15px;
}

.arrow-div, .box, .article, .ads {
  background-color: white;
  padding: 15px;
  border: 1px solid #ccc;
}

.ads {
  font-size: 20px;
  color: red;
}

.article {
  font-size: 22px;
  color: green;
}

.page {
  background-color: #444;
  color: white;
}

.arrow-div {
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 300px;
  position: relative;
  margin: 50px auto;
}
.arrow-div::before {
  content: "";
  position: absolute;
  border: 20px solid transparent;
  left: -40px;
  top: 50%;
  transform: translateY(-50%);
  border-right-color: red;
}

.ad-falcon-uadtb4m {
  font-size: 20px;
  background-image: url("imgs/falcon.png");
  right: 0;
}

.ad-uadtb58 {
  font-weight: bold;
}

/* This Comment Will Show In CSS File But Not In Compressed Mode */
/*! This Comment Will Show In CSS File And In Compressed Mode */
.box {
  font-size: 20px;
}

/* This Comment Contains Interpolation => falcon */
ul.links {
  padding: 0;
  margin: 0;
  list-style: none;
}

.circle-100 {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  background-color: red;
  color: white;
}

.circle-200 {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  background-color: red;
  color: white;
}

.center-circle {
  border-radius: 50%;
  width: 400px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}/*# sourceMappingURL=main.css.map */