// Import Gloabal Rules
@use 'sass/layout/global-rules' ;
// Import Contacts Rules 
@use 'sass/layout/pages/contacts' ;
// Import Color Variables 
@use 'sass/layout/variables/colors' ;
/* Another Method :
// @use 'sass/layout/variables/colors' as * ; -> To use It's Variables .. Just mention the variable ..
.container{
    color: $red-100;
   background-color:$red-50;
}
*/


$main_color : green ;
$dark_theme : darkgreen;
$maxWidthForMobile : "800px" ;

.header {
    color: $dark_theme;
    $dark_theme:darkblue !global ;
    background-color: $main_color;
}
.footer {
    $main_color:black;
    color: $dark_theme;
    background-color: $main_color;
}
.container{
    color: colors.$red-100;
   background-color:colors.$red-50;
}

@media (max-width:$maxWidthForMobile) {
    .header{
        padding:25px;
    }    
}

// Nesting And Parent Element
.parent{
    font-style: oblique;
    >{
        .child-1 {
            font-size: large;
        }
        .child-2 {
            font-size: larger;
        }
    }
    .child {
        font-weight: 200;
        .grandChild{
            font-weight: 300;
        }
    }
    .child-2 {
        font-size: small;
    }
    +{
        p {
            text-align: center;
        }
        h3 {
            color: rebeccapurple;
        }
    }
}

.parent > .child {
    font-weight: 400;
}

.parent-2 , .parent-3 {
    font-display:initial;
    [dir="rtl"] & {
        padding: 20px;
    }
    [data-color="red"] .child {
        color: red;
    }
    .child {
        font-variant: small-caps;
        >.grandChild {
            font-family: 'Courier New', Courier, monospace;
        }
    }
    ~ h5 {
        color: green;
    }
}

.box {
    .title {
        font-size: large;
    }
    .description {
        font-size: medium;
    }
    &.red {
        color: red;
    }
    &:hover {
        color: green;
    }
    :not(&):not(.title){
        font-weight:lighter;
    }
}

// Property Declarations And Placeholder

.box {
  font-size: 20px;
  font: {
    size: 15px;
    weight: bold;
  }
  padding: 10px;
  margin: auto {
    top: 10px;
    bottom: 15px;
  }
}

%main-box {
  background-color: white;
  padding: 15px;
  border: 1px solid #ccc;
}

.ads {
  @extend %main-box;
  font-size: 20px;
  color: red;
}

.article {
  font-size: 22px;
  @extend %main-box;
  color: green;
}